body{
background-image: url(laranjinha.jpg);
background-size: auto;
background-repeat: no-repeat;
background-position: 100%;
backface-visibility: visible;
background-attachment: fixed;
background-size: cover;
}
.lista{
font-family: 'Courier New', Courier, monospace;
font-feature-settings: "Dist";
color: white;
text-align: center;

}
.buton{
    height: 29px;
    width: 7%;
    outline: none;
    background: linear-gradient(120deg, rgb(5, 50, 146), #091fe7);
    background-size: 200%;
    margin-top: 32px;
    color: white;
    font-weight: 100;
    border-radius: 4px;
    cursor: pointer;
    text-overflow: ellipsis;
    text-decoration: none;
}
h1{
    font-size: 50px;
    font-variant: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h2{
    font-style: normal;
    font-display: inherit;
    flex-direction: column;
    display: list-item;
    font-display: block;
    display: ruby-base-container;
    direction: ltr;
    flex-direction: column;
    flex: content;
    text-align: center;
}










